.categories .categories-list .accordian{
    list-style-type: none;
    padding: 0;

    & .tab {
        position: relative;
        max-width: 100%;
        border: 1px solid gray;
        border-radius: 4px;
        margin-bottom: 2px;

        & input { display: none; }

        & label {
            display: block;
            padding: 10px;
            cursor: pointer;
            border: 1px solid gray;
          }

          & .tab-content {
            overflow: hidden;
            transition: max-height 0.3s;
            max-height: 0;
          }

          & input:checked ~ .tab-content { max-height: 100vh; }
      }
}
  
  .nav-toggle{
      display: none;
  }
/* for Mobile css rules start here*/
@media screen and (max-width: 768px) {

    .nav-toggle{
        display: contents;
    }

  .nav-tab{
      & input { display: none; }

      & .heading-items {
        overflow: hidden;
        transition: max-height 0.3s;
        max-height: 0;
        padding: 0;
        padding-top: 10px;
        
      }

      & input:checked ~ .heading-items { max-height: 100vh; }
    }
}