html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

body > header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: rfs(0 25px);
  margin: 0;
  height: rfs(44px);
  border-bottom: 1px solid rgb(194, 193, 193);
}

.heading-items {
  display: flex;
  column-gap: rfs(20px);
}


/* for Desktop */

body .article {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  margin: 0 20px 0 110px;
}

body .article header {
  grid-column: 3/12;
  grid-row: 1;
}

body .article .article-content {
  grid-column: 3/10;
  grid-row: 2;
  text-align: justify;
}

.article-content .article-content-share {
  text-align: end;
}

.article-content .content-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

body .article .article-sidebar {
  grid-column: 10/12;
  grid-row: 2;
  margin-left: 30px;
}

body .article-footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(194, 193, 193);
}


/* for mobile */
@media screen and (max-width: 768px) {
  body > header {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    align-items: flex-start;
  }

  .heading-items {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 0 10px 10px;
  }

  body .article {
    margin: 0 20px 30px 20px;
  }

  body .article header {
    grid-column: 1/-1;
    grid-row: 1;
  }
  
  body .article .article-content {
    grid-column: 1/-1;
    grid-row: 2;
    text-align: justify;
  }

  body .article .article-sidebar {
    grid-column: 1/-1;
    grid-row: 3;
    margin-left: 0px;
  }

  body .article-footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(194, 193, 193);
  }

  body .article-footer p{
    margin: 0px;
    padding: 4px;
    text-align: center;
  }
}


svg {
  width: 20px;
  height: 20px;
}