
header .header-title .menu-btn {
  display: none;
}

header .header-title .menu-icon {
  display: none;
}


@media (max-width: 768px) {

  header .header-title .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  header .header-title .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  header .header-title .menu-icon .navicon:before,
  header .header-title .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  header .header-title .menu-icon .navicon:before {
    top: 5px;
  }

  header .header-title .menu-icon .navicon:after {
    top: -5px;
  }



  
}




